<button type="button" id="btn-map" name="button"><span class="fa fa-map fa-lg"></span></button>

<div style="width: 100%;">
  <div id="map" class="map-size" ></div>
</div>

<script>
  handler = Gmaps.build('Google');

  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
